@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

header{
    height: 80px;
    background-color: #255EE9;
    width: 100%;
    line-height: 80px;
}

nav{
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
    float: left;
}

.header::after{
    content: "";
    clear: both;
    display: table;
}
.menu{
    float: left;
    width: calc(100% -  445px);
}
a{
    color:white;
    text-decoration: none;
    margin: 0 10px;
}
nav ul li a:hover{
    text-decoration: underline;
}
nav ul li{
    display: inline-block;
}
nav ul{
    display: inline-block;
}


#logo{
    height: 100%;
    margin-left: 5%;
    position: relative;
    top: 15%;
    float: left;
}

#accedi{
    margin-right: 5%;
    float: right;
}

.latpadding{
    padding: 0 15%;
}
.contentbox{
    width: 100%;
    min-height: 200px;
    text-align: center;
}

.contentbox{
    padding-top: 100px;
}
.contentbox h2{
    margin-bottom: 60px;
}
.contentbox p{
    margin-bottom: 60px;
}

.c2 .img{
    width: 50%;
    display: inline-block;
}
.sectext{
    width: 30%;
    display: inline-block;
    margin:20px 50px;
}

.sectexth2-1{
    margin-bottom: 40px;
}
.sectextlast{
    text-align: center;
}
.sectextlastunder{
    margin: auto;
    width: 60%;
    height: 100%;
    padding-top: 15px;
    text-align: center;
    background-image: url(img/stars.svg);
    background-position: center;
    background-size:contain;
}
.lastbutton{
    text-align: center;
    margin-top: 50px;
}

.imgbig{
   margin-left: 50px;
}

.footbox{
    width: 25%;
    display: inline-block;
    float: left;
}
.ita{
    margin: 0 10px ;
}
.footlist ul li{
    margin-top: 10px;
}
.footlist{
    width: 15%;
    display: inline-block;
    float: left;
    margin-left: 30px;
}
.bottomfooter{
    display: block;
}
.row1footer{
    display: block;
}
.row1footer::after{
    content: "";
    clear: both;
    display: table;
}
.bottomfooter::after{
    content: "";
    clear: both;
    display: table;
}
.bottomfooter{
    margin-top: 30px;
    padding: 30px;
    border-top: 1px solid #6f8ae0;
}
/* -----text --------------- */
.text3{
    font-size: 4vw;
}
.text2{
    font-weight: 900;
    font-size: calc(3vw - 10px);
    margin-bottom:40px ;
}
.text1{
    font-size: 1vw;
}
.texticon{
    font-size: calc(2vw - 10px);
}

.footerlisttitle{
    color: #6f8ae0;
}
.whitetext{
    color: white;
}
/* -------------btn----------------- */

.btn{
    display: inline;
    background-color: white;
    color: black;
    padding: 15px 20px;
    border-radius: 50px;
    text-decoration: none;
    margin: 0 20px;
    transition: .5s;
}

.btn:hover{
    color: rgb(81, 151, 255);
    text-decoration: none;
    box-shadow: rgba(0, 0, 0,0.5) 1px 7px 15px;
}

.blk{
    background-color: rgb(32, 32, 32);
    color: white;
}
.blk:hover{
    background-color: rgb(46, 46, 46);
    color: rgb(111, 169, 255);
}

.btnlast{
    background-color: #8EA1E1;
    color: white;
    padding: 15px 20px;
    border-radius: 50px;
    text-decoration: none;
    margin: 0 20px;
    transition: .5s;
}

.btnlast:hover{
    color: rgb(34, 34, 34);
    background-color: #6f8ae0;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0,0.5) 1px 7px 15px;
}

.lastbuttonfooter{
    display: inline-block;
    margin-left: 550px;
}
.btnfoot{
    background-color: #8EA1E1;
    color: white;
    padding: 15px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: .5s;
}
/* -----sections----------- */
.subcontainer{
    width: 100%;
    min-height: 500px; 
}
.c1{
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.c2{
    background-color: white;
    margin-top: 100px;
}

.c3{
    background-color: #23272A;
    padding: 100px 200px;
}

.left{
    float: left;
}
.right{
    float: right;
}